.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view .column-header {
    -fx-background-color: 	#FAEBD7;
    -fx-font-size:15px;
}

.table-view .table-cell {
    -fx-font-size:15px;
}

.table-view .table-cell:hover {
    -fx-background-color:  #d35400;
}

.table-row-cell {
    -fx-cell-size: 30px;
}

.bold.table-cell {
    -fx-font-weight: bold;
}

#tableViewCompte .scroll-bar:horizontal .increment-arrow,
#tableViewCompte .scroll-bar:horizontal .decrement-arrow,
#tableViewCompte .scroll-bar:horizontal .increment-button,
#tableViewCompte .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

#tableAchats .table-column {
    -fx-pref-width: 4cm;
    -fx-alignment: CENTER;
}