.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view .column-header {
    -fx-background-color: 	#FAEBD7;
    -fx-font-size:25px;
}

.table-view .table-cell {
    -fx-font-size:25px;
}

.table-row-cell {
    -fx-cell-size: 25px;
}

.table-view .cell{
    -fx-cell-size: 25px;
}

.table-view .scroll-bar:vertical {
    -fx-pref-width: 25px;
}

.table-column {
    -fx-pref-width: 450px;
}