.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view .column-header {
    -fx-background-color: 	#FAEBD7;
    -fx-font-size:15px;
}

.table-view .table-cell {
    -fx-font-size:15px;
}

.table-row-cell {
    -fx-cell-size: 30px;
}

.bold.table-cell {
    -fx-font-weight: bold;
}

.table-view .scroll-bar:vertical .increment-arrow,
.table-view .scroll-bar:vertical .decrement-arrow,
.table-view .scroll-bar:vertical .increment-button,
.table-view .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
}